<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Magazin online de console de jocuri video second-hand — Pixel Mania.">
        <meta name="keywords" content="console, jocuri, second-hand, playstation, xbox, nintendo">
        <title>Pixel Mania - Eroare</title>
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>

    <main>
        <div id="err-coloane">
            <div id="err-imag">
                <img src="<%- locals.imagine %>" alt="Imagine eroare" />
            </div>
            <section>
                <h2><%- locals.titlu %></h2>
                <p><%- locals.text %></p>
                <a href="/">&#8592; Înapoi la pagina principală</a>
            </section>
        </div>
    </main>

    <%- include("../fragmente/footer.ejs") %>

    </body>
</html>